<app-navBar></app-navBar>
<div *ngIf="showWelcome" class="welcome-modal-overlay">
  <div class="welcome-modal">
    <div class="welcome-modal-header">
      <span class="welcome-modal-icon">🎉</span>
      <h2>¡Bienvenido!</h2>
    </div>
    <div class="welcome-modal-body">
      <p>{{ welcomeMsg }}</p>
    </div>
  </div>
</div>
<div *ngIf="mostrarConfirmacionLogout" class="modal-logout">
  <div class="modal-logout-content">
    <p>¿Seguro que deseas cerrar sesión?</p>
    <button (click)="logout()">Sí, cerrar sesión</button>
    <button (click)="mostrarConfirmacionLogout = false">Cancelar</button>
  </div>
</div>
<div class="home-bg">
  <div class="overlay"></div>
  <div class="home-content">
    <h1 class="titulo">ESTRUCTURA SGSST</h1>
    <div class="busqueda-actividad">
      <span class="icon-lupa">🔍 </span>
      <input type="text" [(ngModel)]="busqueda" (input)="buscarActividad()" placeholder=" Buscar ruta de evidencia..."
        class="input-busqueda" />
      <ul *ngIf="sugerencias.length > 0 && busqueda" class="sugerencias-lista">
        <li *ngFor="let sugerencia of sugerencias" (click)="seleccionarActividad(sugerencia)" class="sugerencia-item">
          {{ sugerencia.actividad }}
        </li>
      </ul>
    </div>
    <div class="botones">
      <a routerLink="/planear" class="btn btn-planear"><span class="icon-fase">📝</span> Planear</a>
      <a routerLink="/hacer" class="btn btn-hacer"><span class="icon-fase">🛠️</span> Hacer</a>
      <a routerLink="/verificar" class="btn btn-verificar"><span class="icon-fase">✔️</span> Verificar</a>
      <a routerLink="/actuar" class="btn btn-actuar"><span class="icon-fase">🏃‍♂️</span> Actuar</a>
    </div>
        <div style="color: white; font-size: 20px; margin-top: 30px; background-color: rgba(0, 0, 0, 0.27); padding: 15px; border-radius: 10px; text-align: center;">
      Selecciona una fase para explorar o utiliza la barra de búsqueda para encontrar rutas de evidencia.
      
    </div>

    <!-- Modal de resultado de búsqueda -->
    <div class="modal-busqueda" *ngIf="modalVisible">
      <div class="modal-contenido">
        <span class="cerrar-modal" (click)="cerrarModal()">&times;</span>
        <h3>La evidencia debe estar en la ruta:</h3>
        <div *ngIf="rutaSeleccionada">
          <div class="ruta-carpeta">
            <span class="icon-carpeta">📁</span>
            <span class="ruta-nombre">{{ rutaSeleccionada.fase }}</span>
            <span class="ruta-flecha estiluda">&#x27A4;</span>
            <span class="icon-carpeta">📁</span>
            <span class="ruta-nombre">{{ rutaSeleccionada.subdivision }}</span>
            <span class="ruta-flecha estiluda">&#x27A4;</span>
            <span class="icon-carpeta">📁</span>
            <span class="ruta-nombre">{{ rutaSeleccionada.code }}</span>
            <span class="ruta-flecha estiluda">&#x27A4;</span>
            <span class="icon-doc">📄</span>
            <span class="ruta-nombre ruta-evidencia">{{ rutaSeleccionada.actividad }}</span>
          </div>
          <button class="btn-crear-ruta" (click)="mostrarConfirmacionDescarga = true">Crear ruta en mi PC</button>
          <div *ngIf="mostrarConfirmacionDescarga" class="confirmacion-descarga-modal">
            <div class="confirmacion-descarga-contenido">
              <h4>¿Qué va a pasar?</h4>
              <ul>
                <li>Se descargará un archivo llamado <b>crear_ruta.bat</b>.</li>
                <li>Al hacer doble clic en ese archivo, se crearán automáticamente las carpetas de la ruta en
                  <b>Descargas</b> de Windows.</li>
                <li>Solo ejecuta el archivo y verás la ruta creada.</li>
                <li><b>Si el archivo no funciona en tu sistema operativo</b>, puedes crear la ruta manualmente siguiendo
                  la estructura mostrada anteriormente.</li>
              </ul>
              <div class="confirmacion-botones">
                <button class="btn-crear-ruta"
                  (click)="descargarScriptCrearRuta(); mostrarConfirmacionDescarga = false">Continuar y
                  descargar</button>
                <button class="btn-cancelar" (click)="mostrarConfirmacionDescarga = false">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>