
<app-navBar></app-navBar>
<a routerLink="/home" class="btn-volver">
  <span class="arrow-left">&#8592;</span> Volver
</a>
<div class="planear-container">
  <h2 class="titulo-fase"><span class="icon-fase">&#43;</span>PLANEAR</h2>
  <div *ngIf="planear">
    <div *ngFor="let sub of planear.subdivision; let i = index" class="subdivision">
      <div class="subdivision-header" (click)="toggleSubdivision(i)">
        <span class="subdivision-nombre">{{ sub.nombre }}</span>
        <span class="subdivision-desc">{{ sub.descripcion }}</span>
        <span class="arrow">{{ subdivisionesAbiertas[i] ? '▼' : '►' }}</span>
      </div>
      <div *ngIf="subdivisionesAbiertas[i]" class="actividades-list">
        <div *ngFor="let act of sub.actividades; let j = index" class="actividad">
          <div class="actividad-header" (click)="toggleActividad(i, j)">
            <span class="actividad-code">{{ act.code }}</span>
            <span class="arrow">{{ actividadesAbiertas[i][j] ? '▼' : '►' }}</span>
          </div>
          <div *ngIf="actividadesAbiertas[i][j]" class="evidencias-list">
            <div *ngFor="let ev of act.evidencias" class="evidencia">
              <span class="evidencia-nombre">{{ ev.nombre }}</span>
              <span class="evidencia-tipo">({{ ev.tipo }})</span>
            </div>
            <div class="linea-separadora"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
